*{margin:0; padding:0;}
a{text-decoration:none; color:#333;}
ul,li{list-style:none;}
.cf::after{
    content:'';
    display:block;
    clear:both;
 }
 /* body{
    overflow-x: hidden;
 } */
section{width: 100%;position: relative;}
.slide{
    height: 440px;
    width: 100%;
    position: relative;
}
.slide .sg{
    width: 1920px;
    height: 440px;
    /* position: relative; */
    margin: 0 auto;
    /* overflow: hidden; */
}
.slide .sg ul{
    width: 9600px;
}
.slide .sg ul li{
    float: left;
}
.slide .sg a{
    width: 1920px;
    height: 440px;
    /* position: absolute; */
    left: 0;
}
/* .slide .sg a.i_01{
    background: url(../img/00_써브웨이_main_02_20200427112753722.jpg) no-repeat center;
}
.slide .sg a.i_02{
    left: 100%;
    background: url(../img/main_pc_1920x440_20200427112254027.jpg) no-repeat center;
}
.slide .sg a.i_03{
    left: 200%;
    background: url(../img/main_pc_1920x440_20200528061058713.jpg) no-repeat center;
}
.slide .sg a.i_04{
    left: 300%;
    background: url(../img/main_pc_1920x440_20200529050816305.jpg) no-repeat center;
} */
.slide .dot{
    position: absolute;
    left: 50%;
    margin-left: 500px;
    bottom: 40px;
    width: 100px;
    height: 10px;
}
.slide .dot a{
    display: block;
    float: left;
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    background-color: #ddd;
    margin: 0 5px;
    border-radius: 30px;
}
.slide .dot a.on{
    background-color: #ffc300;
    width: 30px;
}
#sub{
    width: 1200px;
    margin: 0 auto;
    height: 80px;
    position: relative;
    /* border: 1px solid #333; */
}
#sub .sub_wrap{
    position: absolute;
    right: 0;
    top: -30px;/*위로 겹치기*/
}
#sub .sub_wrap a{
    display: block;
    width: 300px;
    height: 80px;
    float: left;
    font-size: 22px;
    font-weight: bold;
    box-sizing: border-box;
    padding-top: 23px;
    /* border: 1px solid #333; */
}
.sw_left{
    padding-left: 130px;
    background: #ffce32 url(../img/icon_map.png) no-repeat 35% 50%;
    border-radius: 30px 0 0 0;
    color: #292929;
}
.sw_right{
    padding-left: 93px;
    background: #009223 url(../img/icon_franchise.png) no-repeat 20% 50%;
    border-radius: 0 0 30px 0;
    color: #fff;
}
