*{margin: 0;padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none; color: #333;}
.cf::after{content:"";clear: both;display: block;}

.article1{
    width: 900px;
    height: 60px;
    padding: 30px 10px;
    border: 1px solid #333;
    margin: 100px auto;
}

.article1 .icon1 li{
    float: left;
    width: 27px;
    height: 27px;
    margin-right: 20px;
    background-color: #6a6a6a;
    border: 1px solid red;
}
.article1 .icon1 li:nth-child(1){
    background: #6a6a6a url(../img/img_intro.png) no-repeat -402px -97px;
}
.article1 .icon1 li:nth-child(2){
    background: #6a6a6a url(../img/img_intro.png) no-repeat -438px -97px;
}
.article1 .icon1 li:nth-child(3){
    background: #6a6a6a url(../img/img_intro.png) no-repeat -474px -97px;
}
.article1 .icon1 li:nth-child(4){
    background: #6a6a6a url(../img/img_intro.png) no-repeat -510px -97px;
}

.article2{
    width: 900px;
    height: 60px;
    padding: 30px 10px;
    border: 1px solid #333;
    margin: 100px auto;
}
.article2 .icon2 li{
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 20px;
    background-color: #6a6a6a;
    border: 1px solid red;
}
.article2 .icon2 li:nth-child(1){
    background: #6a6a6a url(../img/img_intro.png) no-repeat -90px -346px;
}
.article2 .icon2 li:nth-child(2){
    background: #6a6a6a url(../img/img_intro.png) no-repeat -370px -346px;
}
.article2 .icon2 li:nth-child(3){
    background: #6a6a6a url(../img/img_intro.png) no-repeat -330px -346px;
}
.article2 .icon2 li:nth-child(4){
    background: #6a6a6a url(../img/img_intro.png) no-repeat -170px -346px;
}